{% extends 'base.html' %}
{% load static %}

{% block content %}



<section class="content-section">
    <figure class="image-figure">
        <img src="{% static 'images/programacionlineal.webp' %}" alt="Programación Lineal" class="content-image">
    </figure>

    <article class="content-article">
        <h3 class="article-title">Qué es la Programación Lineal?</h3>
        <p class="article-text">
            La programación lineal es una técnica matemática que se utiliza para optimizar el rendimiento o la eficiencia de un sistema. Esta técnica 
            es ampliamente utilizada en el mundo empresarial para resolver problemas de planificación, asignación de recursos y toma de decisiones.
            En un problema de programación lineal, se busca encontrar el valor máximo o mínimo de una función objetivo, como por ejemplo maximizar las 
            ganancias de una empresa o minimizar los costos de producción de un producto. La función objetivo se encuentra sujeta a restricciones que 
            deben cumplirse, como por ejemplo el presupuesto disponible para la empresa o la cantidad de recursos disponibles para la producción del producto.
        </p>
    </article>

    <article class="content-article">
        <h3 class="article-title">Importancia de la programación en línea</h3>
        <p class="article-text">
            La programación lineal es importante porque permite tomar decisiones objetivas, optimizar procesos y recursos, aumentar la eficiencia y encontrar
            soluciones innovadoras.

            Estas son algunas de las razones por la que debes de considerar el uso de la programación en línea:
        </p>
        <ul class="benefits-list">
            <li>Toma de decisiones: La programación lineal permite tomar decisiones basadas en datos y de manera objetiva. Esto se debe a que se utilizan modelos matemáticos
                que representan de manera clara la situación a resolver y permiten encontrar la mejor solución posible.</li>
            <li>Optimización: La programación lineal se utiliza para
                optimizar procesos y recursos en una gran variedad de campos, como la producción, la distribución, la planificación y la gestión de proyectos. Al encontrar
                la solución óptima, se pueden maximizar las ganancias o minimizar los costos.</li>
            <li>Eficiencia: La programación lineal permite hacer un uso más eficiente de los 
                recursos, ya que permite planificar y asignar los recursos de manera óptima. Esto permite reducir los costos y aumentar la eficiencia de los procesos.</li>
            <li>Innovación:
                La programación lineal permite resolver problemas complejos y encontrar soluciones innovadoras. Esto es especialmente importante en campos como la ingeniería,
                la ciencia y la tecnología, donde se requiere de soluciones innovadoras para avanzar.</li>
        </ul>
    </article>
</section>
{% endblock %}
